<a href="/">Home</a>
<% if session[:id] %>
<a href="/session" method="destroy">Log Out</a>
<a href="/orders/session[:id]">Cart</a>
<% end %>
<h2>Welcome!</h2>

<form action="" method="get">
  <input type="text" name="search" value="Search for Products">
  <input type="submit" name="submit" value="Submit">
</form>
<br>
<table>
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Add to Cart</th>
    <th>Image</th>
  </tr>
<% @products.each do |product| %>
<tr>
  <td><%= product.name %></td>
  <td><%= product.description %></td>
<form action="/orders/<%= product.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input name="_method" type="hidden" value="patch" />
  <td><input type="submit" name="submit" value="Add"></td>
</form>
  <td><img src="" alt="product img"/></td>
<% end %>
</tr>
</table>

<%= flash[:message] %>
