<a href="/">Home</a>
<% if session[:id] %>
<a href="/sessions/<%=session[:id]%>" data-method='delete'>Log Out</a>
<a href="/products/<%=session[:id]%>">Cart</a>
<% end %>
<br>
<img src="https://www.eluxium.com/wp-content/uploads/2016/03/shoppingcart.png" alt="shopping cart" width=5%/>

<h3>Items in your cart:</h3>

<table>
  <tr>
    <th>Item</th>
    <th>Description</th>
    <th>Price</th>
  </tr>
  <% if @products %>
  <% @products.each do |product| %>
  <% @totalPrice ||= 0 %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td>$<%= '%.2f' % product.price %></td>
    <% @totalPrice += product.price %>
  </tr>
  <% end %>
  <% end %>
</table>
<h5>Cart Total: $<%= '%.2f' % @totalPrice %></h5>
<% @tax = @totalPrice * 0.09 %>
<h5>Tax: $<%= @tax %></h5>
<h5>Shipping: $6.95</h5>
<h5>Grand Total: $<%= @totalPrice + @tax + 6.95 %></h5>
<button type="button" name="checkout"><a href="/orders/new">Check Out</a></button>
